<div id="form_container" class="container">
  <%= form_for @workout do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Name*' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>  
    <div class="form-group">
      <%= f.label 'Exercises*' %><br/>
      <small>(click on the looking glass icon to see exercise details)</small><br/>
      <%= f.collection_check_boxes :exercise_ids, @exercises, :id, :name do |exe| %>
        <% exe.label(class: "checkbox-inline") { exe.check_box(class: "checkbox") + exe.text + " #{link_to '<span class=\'glyphicon glyphicon-search\'></span>'.html_safe, '#', 'data-toggle' => 'modal', 'data-target' => "#viewModal_#{exe.object.id}", class: 'listing'}".html_safe } %>
      <% end %>      
    </div>
    <% @exercises.each do |exercise| %>
      <%= render 'exercise_modal', exercise: exercise %>
    <% end %>
  
    <div class="form-group">
      <%= f.label 'Categories' %><br/>
      <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |cat| %>
        <% cat.label(class: "checkbox-inline") {cat.check_box(class: "checkbox") + cat.text} %>
      <% end %>
    </div>
    <div class="form-group form-inline">
      <%= f.label :reps, 'The number of repetitions for each exercise:' %>
      <%= f.number_field :reps, class: "form-control", min: 1, value: 1 %>
    </div>
    <div class="form-group form-inline">
      <%= f.label :sets, 'The number of sets:' %>
      <%= f.number_field :sets, class: "form-control", min: 1, value: 1 %>
    </div>
    <div class="form-group form-inline">
      <label>The duration of intervals: </label>
      <%= f.number_field :interval_min, class: "form-control", min: 0, max: 59, value: 0, label: false %> minutes
      <%= f.number_field :interval_sec, class: "form-control", min: 0, max: 59, value: 0, label: false %> seconds
    </div>
    <div class="form-group form-inline">
      <label>The duration of rest periods between intervals: </label>
      <%= f.number_field :rest_min, class: "form-control", min: 0, max: 59, value: 0, label: false %> minutes
      <%= f.number_field :rest_sec, class: "form-control", min: 0, max: 59, value: 0, label: false %> seconds
    </div>  
    <div class="form-group">
      <%= f.label :comment, 'Additional comments' %>
      <%= f.text_area :comment, class: "form-control" %>
    </div>  
    <div class="form-group">
      <%= f.submit 'Cancel', class: 'btn btn-warning' %>
      <%= f.submit 'Save', class: 'btn confirmation_button' %>
    </div>
  <% end %>
</div>