<%= render 'shared/column_title_with_votes', column_title: @workout.name.titleize, object: @workout, object_type: 'workout' %>

<span id="voting_warning"></span>

<%= render 'shared/user_dependent_actions', object: @workout, edit_url: edit_workout_path(@workout), vote_true_url: vote_workout_path(@workout, vote: true), vote_false_url: vote_workout_path(@workout, vote: false) %>

<%= render 'shared/delete_modal', object: @workout %>

<dl class="dl-horizontal">
  <dt>Creator:</dt>
  <% if logged_in? && (current_user == @workout.creator) %>
    <dd>Me</dd>
  <% else %>
    <dd><%= @workout.creator.username.titleize %></dd>
  <% end %>
  
  <dt>Exercises:</dt>  
  <% @workout.exercises.each do |exercise| %>
    <dd>
      <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => "#viewModal_#{exercise.id}", class: 'listing' do %>
        <span class="glyphicon glyphicon-chevron-right"></span><%= ' ' + exercise.name.titleize %>
        &nbsp;
        <small>(<%= exercise.total_votes == 1 ? exercise.total_votes.to_s + ' vote' : exercise.total_votes.to_s + ' votes' %>)</small>
      <% end %>
      <%= render 'exercise_modal', exercise: exercise %>
    </dd>
  <% end %>
  
  <% unless @workout.categories.first.nil? %>
    <dt>Category:</dt>
    <% @workout.categories.each do |category| %>
      <dd><%= category.name.capitalize %></dd>
    <% end %>
  <% end %>
  <% unless @workout.reps.nil? %>
    <dt>Repetitions per exercise:</dt>
    <dd><%= @workout.reps %></dd>
  <% end %>
  <% unless @workout.sets.nil? %>
    <dt>Number of sets:</dt>
    <dd><%= @workout.sets %></dd>
  <% end %>
  <% unless @workout.interval_min == 0 && @workout.interval_sec == 0 %>
    <dt>Interval duration:</dt>
    <dd><%= @workout.interval_min.to_s + ' min ' + @workout.interval_sec.to_s + ' sec' %></dd>
  <% end %>
  <% unless @workout.rest_min == 0 && @workout.rest_sec == 0 %>
    <dt>Rest between sets:</dt>
    <dd><%= @workout.rest_min.to_s + ' min ' + @workout.rest_sec.to_s + ' sec' %></dd>
  <% end %>
  <% unless @workout.comment.empty? %>
    <dt>Additional comment:</dt>
    <dd><%= @workout.comment.capitalize %></dd>
  <% end %>
</dl>