<% if flash.keys.any? %>
  <%= render 'shared/flash_messages' %>
<% else %>
  <p class="homepage_desc homepage_text">
    Welcome! Here you can create completely customized workouts and share them with other users. If you are an existing user of this website, please log in below. Otherwise, follow the link to the registration page. 
  </p>
<% end %>
<div id="registration_container" class="container">
  <%= link_to 'Register', root_path, class: "link" %><br/>
  <%= form_tag '/login', method: 'post' do %>
    <div class="form-group"> 
      <%= label_tag :username, nil, class: "homepage_text" %>
      <%= text_field_tag :username, params[:username], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: "homepage_text" %>
      <%= password_field_tag :password, nil, class: "form-control" %>
    </div>
    <div class="form-group homepage_text">
      <%= submit_tag "Login", class: "btn button" %>
    </div>
  <% end %>
</div> 