<%= render 'shared/title', title: 'Exercises' %>

<% if flash.any? %>
  <%= render 'shared/flash_messages' %>
<% end %>

<div class="container">
  <%= link_to 'Create a new exercise', new_exercise_path, class: "link_button" %>
</div>

<div class="container">
    <div class="row row-same-height">
      <div class="col-md-3 column_border">
        <%= render 'shared/column_title', column_title: 'Exercises by Users' %>
        <%= link_to users_exercises_path, remote: true, class: 'listing' do %>
        <span class="glyphicon glyphicon-chevron-right"></span><%= ' All exercises' %>
        <% end %>
        <hr/>
        <%= link_to user_path(current_user), remote: true, class: 'listing' do %>
          <span class="glyphicon glyphicon-chevron-right"></span><%= ' Me' %>
        <% end %>
        <hr/>
        <% if @users.count == 1 %>
          <p>There are no other users.</p>
        <% else %>
          <%= render 'users_list' %>
          <%= will_paginate @users %>
        <% end %>
      </div>
    <div id="second_column" class="col-md-3">
      <div id="exercises">
      </div>
    </div>
    <div class="col-md-6">
      <div id="exercise">
      </div>
    </div>
  </div>
</div 