<%= render 'shared/title', title: 'Equipment' %>

<% if flash.any? %>
  <%= render 'shared/flash_messages' %>
<% end %>

<%= render 'shared/errors', obj: @equipment %>

<div class="container">
  <%= render 'shared/small_form', object: @equipment %>
  <br/>
  <div class="row row-same-height">
    <div class="col-md-3 column_border">
      <%= render 'shared/column_title', column_title: 'All Equipment' %>
      <% if @equipment_pieces.nil? %>
        <p>There is currently no equipment to display.<p>
      <% else %>
        <% @equipment_pieces.each do |equipment| %>
          <%= link_to equipment_piece_path(equipment), remote: true, id: equipment.id, class: 'listing' do %>
            <span class="glyphicon glyphicon-chevron-right"></span><%= ' ' + equipment.name %>
          <% end %><br />
        <% end %>
        <%= will_paginate @equipment_pieces %>
      <% end %>
    </div>
    <div id="second_column" class="col-md-3">
      <div id="exercises">
      </div>
    </div>
    <div class="col-md-6">
      <div id="exercise">
      </div>
    </div>
  </div>
</div>