<%= render 'shared/title', title: 'Categories' %>

<% if flash.any? %>
  <%= render 'shared/flash_messages' %>
<% end %>

<%= render 'shared/errors', obj: @category %>

<div class="container">
  <%= render 'shared/small_form', object: @category %>
  <br/>
  <div class="row row-same-height">
    <div class="col-md-3 column_border">
      <%= render 'shared/column_title', column_title: 'All Categories' %>
      <% if @categories.empty? %>
        <p>There are currently no categories to display.<p>
      <% else %>
        <% @categories.each do |category| %>   
          <%= link_to category_path(category), remote: true, id: category.id, class: 'listing' do %>
            <span class="glyphicon glyphicon-chevron-right"></span><%= ' ' + category.name %>
          <% end %><br />
        <% end %>
        <%= will_paginate @categories %>
      <% end %>
    </div>
    <div id="second_column" class="col-md-3">
      <div id="exercises_workouts">
      </div>
    </div>
    <div class="col-md-6">
      <div id="exercise">
      </div>
      <div id="workout">
      </div>
    </div>
  </div>
</div>