<%= render 'shared/title', title: 'Exercises' %>

<% if flash.any? %>
  <%= render 'shared/flash_messages' %>
<% end %>

<div class="container"><%= link_to 'Create a new exercise', new_exercise_path, class: "link_button" %></div>

<div class="container">
    <div class="row row-same-height">
      <div class="col-md-3 column_border">
        <h4 class="column_title">My Exercises</h4>
        
      </div>
      <div class="col-md-3 column_border">
        <h4 class="column_title">Other Users' Exercises</h4>
        <div id="exercises_list">
          <%= render 'exercises_list', object: @exercises %>
        </div>        
      </div>
      <div class="col-md-6">
        <div id="exercise">
          <% if session[:exercise_id] %>
            <%= render 'exercise' %>
          <% end %>
        </div>
      </div>
    </div>
</div>  