<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Workout Planner</span>
    </div>
    <ul class="nav navbar-nav">
      <%= nav_link 'Home', user_homepage_path(current_user.username) %>
      <%= nav_link 'Exercises', users_exercises_path %>    
      <%= nav_link 'Workouts', users_workouts_path %>
      <%= nav_link 'Equipment', equipment_pieces_path %>
      <%= nav_link 'Categories', categories_path %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <p class="navbar-text">Signed in as <%= current_user.username %></p>
      <li><%= nav_link 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>